.horizontalControls {
    padding: 2vh 0 !important;
    width: min(52vh, 38vw);
}

.controls, .bigControls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vh;
}

.bigControls {
    padding: 2vh 4vh;
}

.progressBarLabels {
    display: flex;
    justify-content: space-between;
    
    & > * {
        flex: 1;
    }
    
    & > *:nth-child(2) {
        flex: 0;
    }
    
    & > *:last-child {
        text-align: right;
    }
}

.bigControls > button {
    height: 10vh !important;
    width: 10vh !important;
    & > svg {
        scale: 1.75;
    }
}

.bigMusicInfo {
    transition:
        transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19),
        opacity 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transform: translateY(-25vh);
    opacity: 0;
}

.bigMusicInfo.hideLyric {
    transition:
        transform 0.3s 0.3s cubic-bezier(0.215, 0.610, 0.355, 1),
        opacity 0.3s 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    transform: translateY(0);
    opacity: 1;
}

.smallMusicInfo {
    transition:
        transform 0.3s 0.5s cubic-bezier(0.215, 0.610, 0.355, 1),
        opacity 0.3s 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
    transform: translateY(0);
    opacity: 1;
}

.smallMusicInfo.hideLyric {
    transition:
        transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19),
        opacity 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transform: translateY(25vh);
    opacity: 0;
}
