.horizontalControls {
    padding: 2vh 0 !important;
    width: min(52vh, 38vw);
}

.controls, .bigControls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vh;
}

.bigControls {
    padding: 2vh 4vh;
}

.progressBarLabels {
    display: flex;
    justify-content: space-between;
    
    & > * {
        flex: 1;
    }
    
    & > *:nth-child(2) {
        flex: 0;
    }
    
    & > *:last-child {
        text-align: right;
    }
}

.bigControls > button {
    height: 10vh !important;
    width: 10vh !important;
    & > svg {
        scale: 1.75;
    }
}
