
.appkit-now-playing-slider
  cursor: pointer
  height: 16px
  &:hover
    .thumb
      visibility: visible
  .thumb
    height: 16px
    width: 6px
    margin-top: 2px
    border-radius: 4px
    box-shadow: 0 0 3px #0008
    background: #FFFFFF
    visibility: hidden
  .track
    height: 8px
    transform: translateY(6px)
    border-radius: 4px
    background: #FFF5
    &.track-0
      background: #FFFFFFCC
