.toggleIconButton {
    border: none;
    background-color: transparent;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0.45;
    height: 4em;
    
    & svg {
        height: 4em;
    }

    @media screen and (max-width: 1600px),
    (max-height: 768px) {
        height: 3em;

        & svg {
            height: 3em;
        }
    }
}