.musicInfo {
	display: flex;
	color: white;
	font-size: max(2.0vh, 1em);
	min-width: 0;
}

.info {
	flex: 1;
	min-width: 0;
	overflow: hidden;
	/* 固定行高，否则文字变化时有可能产生布局抖动 */
	line-height: 1.25em;
}

.name {
	white-space: nowrap;
	cursor: text;
	user-select: text;
	min-width: 0;
	font-weight: 500;
	letter-spacing: 0.4px;
	opacity: 0.9;
	mix-blend-mode: normal !important;
}

.artists,
.album {
	white-space: nowrap;
	text-align: center;
	opacity: 0.45;
	font-weight: 400;

	letter-spacing: 1px;

	& a {
		text-decoration: none;

		user-select: text;

		&:hover {
			opacity: 0.75;
		}

		&:active {
			opacity: 0.5;
		}

		&::after {
			content: var(--applemusic-like-lyrics-music-artists-separator, ", ");
		}

		&:nth-last-child(2)::after {
			content: " & ";
		}

		&:last-child::after {
			content: "";
		}
	}
}
