.playlistCover {
	width: 4em;
	aspect-ratio: 1 / 1;
	border-radius: 0.5em;
	background-color: #1117;
	overflow: hidden;

	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;

	&:has(> :last-child:nth-child(1)) {
		grid-template-rows: 1fr;
		grid-template-columns: 1fr;
	}

	&:has(> :last-child:nth-child(2)) {
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr;
	}

	> * {
		background-image: linear-gradient(to top, #000 0% #000 100%);
		background-position: center;
		image-rendering: optimizeQuality;
		background-size: cover;
		transition: background-image 0.5s;
	}
}
