@import "./components/appkit/common.sass"

#amll-config
    @include pingfang-font
    height: 100%
    svg
        width: unset
        height: unset
        box-shadow: 0 7px 10px rgba(0, 0, 0, 0.4), 0 0 3px rgba(0, 0, 0, 0.55)
        line-height: normal

    p
        margin-block: 1em

    del
        text-decoration: line-through

#amll-config-content
    width: 100%
    display: flex
    flex-direction: column
    gap: 16px
.amll-mouse-hover-show
    opacity: 0
    transition: opacity 1s
    &:hover
        opacity: 1
        transition: opacity 1s 5s

.amll-music-info
    a
        color: unset
    button
        background: transparent
        border: none
    svg
        width: unset
        height: unset

#amll-reason
    text-wrap: normal
    word-break: normal

    > *:first-child
        font-size: 14px

#amll-view
    @include pingfang-font
    color: var(--amll-lyric-view-color, white)
    position: fixed
    left: 0
    top: 100vh
    width: 100%
    height: 100%
    overflow: hidden
    line-height: normal
    border-radius: 16px 16px 0 0
    z-index: 998
    transition: top 0.5s cubic-bezier(0.8, 0, 0.1, 1), border-radius 0.25s ease-in-out
    background: var(--colorFunction3)
    background: #333
    -webkit-backdrop-filter: blur(120px)
    backdrop-filter: blur(120px)

#main-player, .m-pinfo
    transition: bottom 0.5s cubic-bezier(0.8, 0, 0.1, 1), opacity 0.25s ease-in-out

body.amll-lyric-page-open
    #main-player
        bottom: 100%
        opacity: 0

    .m-pinfo
        bottom: 100%
        opacity: 0

    footer
        bottom: 100%

        > * > * > *
            transition: opacity 0.25s ease-in-out
            opacity: 0

    #amll-view
        top: 0vh
        border-radius: 0 0 0 0

.am-music-progress-control
    display: flex
    flex-direction: column
    margin-top: 2vh

.am-music-progress-tips
    display: flex
    margin-top: 16px
    font-weight: 400
    opacity: 0.5
    align-items: center
    font-size: 12px
    letter-spacing: 0.5px

    > *
        flex: 0

        &:first-child
            flex: 1

        &:last-child
            flex: 1
            text-align: right

    > .am-music-quality
        height: 10px
        transform: translateY(-9px)

.am-music-controls
    display: flex
    align-items: center
    justify-content: space-between
    margin-top: 2vh

    > .am-music-track-btn
        opacity: 0.5
        aspect-ratio: 1/1
        display: flex
        justify-content: center
        align-items: center
        border-radius: 50%
        position: relative

    > .am-music-track-prev,
    > .am-music-play,
    > .am-music-track-next
        aspect-ratio: 1/1
        height: 6vh !important
        width: 6vh !important
        display: flex
        justify-content: center
        align-items: center
        border-radius: 50%
        position: relative
        background-color: #FFF0
        // TODO: 使用 JS 完成这样的动画吧，有些特殊情况不是很好写
        transition: background-color 0.5s, transform 0.5s
        animation: pressed-animation 0.7s
        animation-composition: accumulate
        @keyframes pressed-animation
            0%
                transform: scale(1)
                background-color: #FFF2
            20%
                transform: scale(0.85)
                background-color: #FFF4
            50%
                transform: scale(1.1)
            100%
                transform: scale(1)
                background-color: #FFF0
        &:hover
            background-color: #FFF2
        &:active
            animation-name: none
        > *
            height: 60%

    > .am-music-track-next
        margin-right: 16px

    > .am-music-track-prev
        margin-left: 16px

.am-music-volume-controls
    display: flex
    align-items: center
    flex-direction: row
    margin-top: 3vh

    > *
        margin: 8px

        &:nth-child(2)
            flex: 1
