.controlThumb {
	justify-self: center;
	width: 100%;
	height: 100%;
	mix-blend-mode: plus-lighter;

	& button {
		display: block;
		touch-action: none;
		position: absolute;
		border: none;
		padding: 0;
		border-radius: 4px;
		background-color: #ffffff2d;
		mix-blend-mode: plus-lighter;
		cursor: none;

		& div {
			position: absolute;
			background-color: black;
			border-radius: 10px;
		}
	}
}
