.lyricPage {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	background-color: #222;
	transition: border-radius 0.25s ease, transform 0.5s
		cubic-bezier(0.25, 1, 0.5, 1);
	transform: translateY(100%);
	border-radius: 1em 1em 0 0;
	overflow: hidden;

	&.opened {
		pointer-events: auto;
		transition: border-radius 0.25s 0.25s ease, transform 0.5s
			cubic-bezier(0.25, 1, 0.5, 1);
		transform: translateY(0%);
		border-radius: 0 0 0 0;
	}
}
