.body {
	height: 100vh;
	overflow: hidden;
}

.radixTheme,
.body {
	--default-font-family: var(--amll-font-family);
	--code-font-family: "Menlo", "Consolas (Custom)", "Bitstream Vera Sans Mono",
		var(--amll-font-family), monospace, "Apple Color Emoji", "Segoe UI Emoji";
}

.container {
	transition: scale 0.5s cubic-bezier(0.25, 1, 0.5, 1);
	scale: 1;
	box-sizing: border-box;
	height: 100vh;
	overflow-y: auto;
}

.body.amllOpened {
	&::after {
		opacity: 0.75;
	}

	.container {
		scale: 0.95;
	}
}

.body::after {
	transition: opacity 0.5s cubic-bezier(0.25, 1, 0.5, 1);
	content: "";
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	opacity: 0;
	background-color: #000;
}
