.container {
    transition: scale 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    scale: 1;
    box-sizing: border-box;
}

.body.amllOpened {
    &::after {
        opacity: 0.75;
    }

    .container {
        scale: 0.95;
    }
}

.body::after {
    transition: opacity 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    content: '';
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    opacity: 0;
    background-color: #000;
}