.title > button {
	visibility: hidden;
}

.title:hover > button {
	visibility: visible;
}

.playlist {
	max-height: 100vh;
	padding: 0 var(--space-2);
	padding-bottom: var(--space-8);
	box-sizing: border-box;
}

.playlist > * {
	margin: 0 auto;
	padding: 0 var(--space-4);
	max-width: var(--container-4);
}
