
.amll-switch-config
    // margin-top: 16px
    // &:first-child
    //     margin-top: 0
    > *
        display: flex
        width: 100%
        justify-content: space-between
    .appkit-switch-inner
        align-self: start

.amll-config-text
    font-size: 13px
    margin-right: 8px
    .amll-config-description
        font-size: 11.24px
        opacity: 0.5
