@require "prismjs/themes/prism.css"
@require "./main-view.styl"

.am-lyrics-settings
    min-height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    *
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    max-width: @css { min(100%, 700px) };
    svg
        width: unset;
        height: unset;
    .am-lyric-func-body
        user-select: text;
        overflow-wrap: break-word;
        word-break: break-word;
        white-space: break-spaces;
        text-overflow: ellipsis;
.m-fm
    width: 100%;
    .fmcmt
        width: 820px;
        margin-left: auto;
        margin-right: auto;

#applemusic-like-lyrics-view-fm
    applemusic-like-lyrics-view-style()
    .am-album-hide-sidebar
        width: 12px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: stretch;
        > *
            height: 10vh;
            background-color: black;
    .am-fm-player-ctl
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    .am-lyric-background
        z-index: -1;
    > *
        height: 100%;
        display: flex;
        flex-direction: row;

#applemusic-like-lyrics-view
    applemusic-like-lyrics-view-style()
    overflow: hidden;
    z-index: 1;
    -webkit-font-smoothing: antialiased;
    *
        z-index: 1;
    margin: 30px;
    height: "calc(100% - %s)" % (@margin * 2);
    max-height: "calc(100% - %s)" % (@margin * 2);
    max-width: "calc(100% - %s)" % (@margin * 2);
    width: "calc(100% - %s)" % (@margin * 2);
    display: flex;
    flex-direction: row
    
    .am-lyric-view-loading
        flex: 1;
    
    .am-music-info
        flex: 1;
        display: flex;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        > *
            display: flex;
            flex-direction: column;
            color: @css { var(--applemusic-like-lyrics-font-color, white) };
            a
                color: @css { var(--applemusic-like-lyrics-font-color, white) };
                &:hover
                    opacity: 0.5;
            .am-album-image
                display: flex;
                align-content: center;
                justify-content: center;
                align-items: center;
                position: relative;
                > *
                    border-radius: 5%;
                    overflow hidden;
                    box-shadow: 0 0 1rem #0004;
                    > img
                        border-radius: 5%;
                        overflow: hidden;
                        min-height: @css { min(50vh, 30vw) };
                        min-width: @css { min(50vh, 30vw) };
                        max-height: @css { min(50vh, 30vw) };
                        max-width: @css { min(50vh, 30vw) };
                        height: @css { min(50vh, 30vw) };
                        width: @css { min(50vh, 30vw) };
                        object-fit: cover;
            
            .am-music-name
                font-size: 1.5rem;
                line-height: normal;
                margin: 1rem 0 0.25rem 0;
                cursor: text;
                user-select: text;
                text-align: center;
            .am-music-alias
                font-size: 1.2rem;
                line-height: normal;
                margin: 1rem 0;
                opacity: 0.75;
                cursor: text;
                text-align: center;
                user-select: text;
            .am-music-artists
                font-size: 1rem;
                line-height: normal;
                margin: 0.25rem 0;
                display: flex;
                align-items: baseline;
                justify-content: center;
                .am-artists-label
                    line-height: normal;
                    white-space: nowrap;
                .am-artists
                    a
                        line-height: normal;
                        opacity: 0.8;
                        user-select: text;
                        text-overflow: ellipsis;
                        // margin-right: 1rem;
                        &::after
                            content: @css { var(--applemusic-like-lyrics-music-artists-separator, " - ") };
                            opacity: 0.5;
                        &:last-child::after
                            content: "";
                        
            .am-music-album
                font-size: 1rem;
                line-height: normal;
                margin: 0.25rem 0;
                filter: drop-shadow(0 0 4px #0004);
                display: flex;
                align-items: baseline;
                justify-content: center;
                .am-album-label
                    white-space: nowrap;
                a
                    opacity: 0.8;
                    user-select: text;

    .am-lyric
        flex: 1;
        display: flex;
        flex-direction: column;
        // 鼠标悬浮时显示所有歌词
        &:hover .am-lyric-line
            filter: blur(0) !important;
            opacity: 1 !important;
            > .am-lyric-line-dynamic > *
                opacity: 1 !important;
        &:hover .am-lyric-options
            opacity: 1;
    
    .am-lyric-view-error
        flex: 1;
        *
            overflow-wrap: break-word;
            white-space: pre-wrap;
            margin-bottom: 1rem;
    
    .am-lyric-options
        opacity: 0;
        transition: opacity  0.75s cubic-bezier(0.65, 0, 0.35, 1);
        padding-top: 60px;
        
        button
            margin: 0.5rem;
            background-color: transparent;
            padding: 3px;
            border: solid 1px white;
            color: white;
            border-radius: 3px;
            &.toggled
                background-color: white;
                color: black
    
    .am-lyric-view
        flex: 1;
        overflow: hidden scroll;
        position: relative;
        -webkit-mask-image: linear-gradient(#0000, #000 10%, #000 80%, #0000 90%, #0000);
        > *
            padding: 50vh 0;
            position: relative;
            padding-left: 2rem;
            padding-right: @css { min(30%, 5vw, 600px) };
        &.editing
            -webkit-mask-image: unset;
            > *
                padding: 0;
                padding-bottom: 128px;
                padding-right: @css { min(30%, 5vw, 600px) };
    
    .am-lyric-view-no-lyric
        height: 100%;
        overflow: hidden;
        flex: 1;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: baseline;

    // 歌词缩放效果
    &.lyric-scale-effect // lyricScaleEffect
        .am-lyric-line
            transform: scale(0.66666);
            
            &.am-lyric-line-o0,
            &.am-lyric-line-selected
                transform: scale(1);
                
        .am-lyric-dots
            transform: scale(0.66666);
            &.am-lyric-dots-selected
                transform: scale(1);

    // 已播放歌词隐藏效果
    &.lyric-hide-passed
        .am-lyric-line
            opacity: 0.5;
            &.am-lyric-line-before
                opacity: 0;
            &.am-lyric-line-selected
                opacity: 1;

    // 歌词模糊效果
    &.lyric-blur-effect
        .am-lyric-line
            filter: blur(4px);
            &.am-lyric-line-after
                filter: blur(4px);
            for i in (-5..5)
                if i != 0
                    &.am-lyric-line-o{i}
                        filter: blur(abs(i) * 1px);
    
    // 未播放歌词淡入效果
    &.lyric-blur-fade-in-effect
        .am-lyric-line
            &.am-lyric-line-after
                opacity: 0.1;
            &.am-lyric-line-o1
                opacity: 0.4;
            &.am-lyric-line-o2
                opacity: 0.3;
            &.am-lyric-line-o3
                opacity: 0.2;
                
    // 字体阴影
    &.font-shadow // fontShadow
        .am-music-name
            filter: drop-shadow(0 0 4px #0006);
        .am-music-alias
            filter: drop-shadow(0 0 4px #0004);
        .am-music-artists
            filter: drop-shadow(0 0 4px #0004);
        .am-lyric
            filter: drop-shadow(0 0 4px #0004);

    // 自定义歌词字体大小
    &.lyric-fixed-font-size
        .am-lyric-line
            font-size: @css { max(8px, var(--applemusic-like-lyrics-lyric-font-size, 16px)) };
    
    &.use-ping-fang-font *
        font-family: 'PingFang SC' !important;

    // 歌名居左
    &.align-left-music-name .am-music-name
        text-align: left;

    // 歌曲别名居左
    &.align-left-music-alias .am-music-alias
        text-align: left;

    // 歌手名居左
    &.align-left-music-artists .am-music-artists
        justify-content: left;

    // 专辑名居左
    &.align-left-music-album .am-music-album
        justify-content: left;

    // 隐藏歌手名标签
    &.hide-left-music-artists-label .am-artists-label
        display: none;

    // 隐藏专辑名标签
    &.hide-left-music-album-label .am-album-label
        display: none;
    
    .am-lyric-line
        font-weight: bold;
        font-size: @css { clamp(32px, 3vw, 4vh) };
        padding: @css { max(16px, 1vh) } 0;
        transform-origin: left;
        color: @css { var(--applemusic-like-lyrics-font-color, white) };
        transition: all 0.75s cubic-bezier(0.65, 0, 0.35, 1);
        line-break: loose;
        word-break: break-word;
        
        > .am-lyric-line-translated,
        > .am-lyric-line-roman
            opacity: 0.5;
        
        > .am-lyric-line-dynamic > *
            position: relative;
            display: inline-block;
            white-space: break-spaces;
            > .am-lyric-fake-word
                animation-name: am-lyric-word-animation;
                animation-timing-function: linear;
                animation-fill-mode: both;
                width: 0%;
                right: 0%;
                position: absolute;
                white-space: nowrap;
                overflow: hidden;
                height: 200%;
            > .am-lyric-real-word
                opacity: 1;
                transition: opacity 0.75s cubic-bezier(0.65, 0, 0.35, 1);
            
        &:hover::before
            content: " ";
            position: absolute;
            width: calc(100% + 4rem);
            left: -2rem;
            height: calc(100% + 2rem);
            top: -1rem;
            border-radius: 1rem;
            pointer-events: none;
            background-color: #FFF4;
        
        &.am-lyric-line-after
            > .am-lyric-line-dynamic > * > .am-lyric-fake-word
                opacity: 0.5;
                animation-name: unset;
                animation-fill-mode: unset;
                animation-play-state: unset;
        
        &.am-lyric-line-before
            opacity: 0.5;
            > .am-lyric-line-dynamic > * > .am-lyric-fake-word
                opacity: 1;
                width: 100%;
                animation-name: unset;
                animation-fill-mode: unset;
                animation-play-state: unset;
        
        &.am-lyric-line-o0,
        &.am-lyric-line-selected
            filter: blur(0px);
            opacity: 1;
            > .am-lyric-line-dynamic
                > * > .am-lyric-real-word
                    animation-play-state: running;
                    opacity: 0.5;
        @keyframes am-lyric-word-animation {
            from {
                width: 0%;
                right: 100%;
            }
            to {
                width: 100%;
                right: 0%;
            }
        }

    .am-lyric-dots
        height: 0px;
        transition: opacity 0.75s cubic-bezier(0.65, 0, 0.35, 1), height 0.75s cubic-bezier(0.65, 0, 0.35, 1);
        transform-origin: left;
        opacity: 0;
        
        > *
            display: inline-block;
            margin-right: 2vh;
            width: 3vh;
            height: 3vh;
            background-color: @css { var(--applemusic-like-lyrics-font-color, white) };
            box-shadow: 0 2px 5px #0008;
            border-radius: 50%;

        &.am-lyric-dots-selected
            height: 6vh;
            opacity: 1;
            animation-name: am-lyric-dot-show-animation;
            animation-fill-mode: both;
            animation-delay: 0.75s;
            animation-duration: 1.5s;
        
        &.am-lyric-line-before
            opacity: 0;
            animation-name: am-lyric-dot-hide-animation;
            animation-fill-mode: both;
            animation-duration: 0.25s;
            
        @keyframes am-lyric-dot-show-animation {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        
        @keyframes am-lyric-dot-hide-animation {
            from {
                opacity: 1;
            }
            to {
                opacity: 0;
            }
        }

// 播放栏透明 + 模糊遮罩
.m-player.z-shadow
    background: transparent !important;
    backdrop-filter: blur(4px);

// 自动隐藏播放栏和控制栏
.mq-playing .g-hd,
.m-winctrl,
#main-player
.g-singlec-comment-detail.z-show,
.m-pinfo 
    opacity: 1;
    transition: opacity 0.5s;

.mq-playing .g-hd.hide,
.m-winctrl.hide,
#main-player.hide,
.g-singlec-comment-detail.z-show.hide,
.m-pinfo.hide
    opacity: 0 !important;

.m-winctrl.disabled
    display: none;

// 使正在播放的歌词页面布局上全屏，以便歌词组件大小是窗口大小
.g-singlec-ct
    top: 0;
.g-single
    bottom: 0;
.g-single-track .g-bd2
    margin-bottom: 60px;

// 将被压下去的评论页面按钮恢复正确位置
.g-singlec-comment,
.g-singlec-comment-detail,
.g-singlec-comment-top
    bottom: 20px + 60px;

// MoTheme 会修改播放页面的大小，导致歌词页面不能正确居中
.g-bds-fix, .g-single
    bottom: 0 !important;
