@import "prismjs/themes/prism.css"
@import "./main-view.sass"
@import "./appkit.sass"

.amll-slider-config
    // margin-top: 16px
    display: flex
    width: 100%
    justify-content: space-between
    // &:first-child
    //     margin-top: 0
    .appkit-slider
        min-width: max(150px, 20%)

.amll-switch-config
    // margin-top: 16px
    // &:first-child
    //     margin-top: 0
    > *
        display: flex
        width: 100%
        justify-content: space-between
    .appkit-switch-inner
        align-self: start

.amll-config-text
    font-size: 13px
    margin-right: 8px
    .amll-config-description
        font-size: 11.24px
        opacity: 0.5

.am-lyrics-settings
    *
        @include pingfang-font
        background: rgb(43,43,43)
        min-height: 100%
        margin: -1rem
        padding: 1rem
        color: white
    // font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    // *
    //     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    > *
        max-width: min(100%, 700px)
    svg
        width: unset
        height: unset
    code
        font-family: 'Courier New', Courier, monospace
    .am-lyric-func-body
        user-select: text
        overflow-wrap: break-word
        word-break: break-word
        white-space: break-spaces
        text-overflow: ellipsis

.amll-about
    @include pingfang-font
    *
        @include pingfang-font
    .amll-icon
        display: flex
        justify-content: center
        > *
            width: 64px !important
            height: 64px !important
    .amll-name
        font-weight: bold
        margin-top: 1rem
        font-size: 1.5rem
        margin-bottom: 0.5rem
        text-align: center
    .version, .update-tip, .current-branch
        opacity: 0.5
        text-align: center
        margin-bottom: 0.2rem
    .author
        opacity: 0.5
        text-align: center
        margin-bottom: 1rem
    .update-btn
        display: flex
        justify-content: center
    .ext-links
        display: flex
        justify-content: center
        margin: 1rem 0
        > *
            margin-right: 8px
            &:last-child
                margin-right: 0

.m-fm
    width: 100%
    .fmcmt
        width: 820px
        margin-left: auto
        margin-right: auto

.amll-notifications-provider
    @include pingfang-font
    *
        @include pingfang-font
    // font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    // *
    //     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    svg
        width: unset
        height: unset

#applemusic-like-lyrics-view-fm
    > *
        @include applemusic-like-lyrics-view-style
    padding-top: 0
    .am-album-hide-sidebar
        width: 12px
        display: flex
        flex-direction: column
        flex-wrap: nowrap
        justify-content: center
        align-items: stretch
        > *
            height: 10vh
            background-color: black
    .am-fm-player-ctl
        display: flex
        align-items: center
        justify-content: space-evenly
    .am-player-song-info
        > *
            width: min(40vh, 40vw)
        > .am-album-image
            width: min(40vh, 40vw)
            height: min(40vh, 40vw)
        > .am-music-sub-widget
            > .am-music-info-with-menu
                font-size: 120%
                @media screen and (min-height: 1024px)
                    font-size: 200%


#applemusic-like-lyrics-view
    @include applemusic-like-lyrics-view-style
    &.ncm-v3
        position: fixed
        left: 0
        top: 100vh
        border-radius: 16px 16px 0 0
        z-index: 998
        transition: top 0.5s cubic-bezier(0.8,0,0.1,1), border-radius 0.25s ease-in-out
        background: var(--colorFunction3)
        -webkit-backdrop-filter: blur(120px)
        backdrop-filter: blur(120px)

#amll-view-button
    border: none
    background: transparent
    padding: 0
    line-height: 0
    cursor: pointer
    fill: var(--colorBlack5)
    &:hover
        fill: var(--colorBlack3)

footer
    transition: bottom 0.5s cubic-bezier(0.8,0,0.1,1)
    > * > * > *
        transition: opacity 0.5s 0.5s ease-in-out
        opacity: 1

// 播放栏透明 + 模糊遮罩
.m-player.z-shadow
    background: transparent !important
    -webkit-backdrop-filter: blur(4px)
    backdrop-filter: blur(4px)

// 自动隐藏播放栏和控制栏
$hide-selectors: ".mq-playing .g-hd"
$hide-selectors: $hide-selectors + ", .m-winctrl"
$hide-selectors: $hide-selectors + ", #main-player"
$hide-selectors: $hide-selectors + ", .g-singlec-comment-detail.z-show"
$hide-selectors: $hide-selectors + ", .m-pinfo"
$hide-selectors: $hide-selectors + ", .m-topbox"
$hide-selectors: $hide-selectors + ", .m-tool"
$hide-selectors: $hide-selectors + ", header .m-zoom svg"
$hide-selectors: $hide-selectors + ", .m-leftbox::after"

.mq-playing .g-hd .m-leftbox::after
    border-color: var(--applemusic-like-lyrics-font-color, unset)
    opacity: 0.4

body
    #{$hide-selectors}
        opacity: 1
        transition: opacity 0.5s

    &.amll-hide-controls
        #{$hide-selectors}
            opacity: 0 !important
        #applemusic-like-lyrics-view
            cursor: none
        // #applemusic-like-lyrics-view
        //     .am-player-song-info
        //         > .am-music-info-bottom-spacer
        //             flex: 0
        //         > .am-music-info
        //             flex: 1

// 显示模态对话框时不让标题栏被覆盖
header, .m-winctrl
    z-index: 999 !important

.m-winctrl.disabled
    display: none

// 隐藏 Mac 版网易云的专辑元素
.m-singlebg
    display: none

// 使正在播放的歌词页面布局上全屏，以便歌词组件大小是窗口大小
.g-singlec-ct
    top: 0
.g-single, #id-single
    bottom: 0
    height: 100vh
    top: 0
    .g-bd2
        margin-bottom: 60px

// 修复播放页面歌曲标题在歌词下方的问题
.g-singlec-hd
    z-index: 3

// 将被压下去的评论页面按钮恢复正确位置
.g-singlec-comment, .g-singlec-comment-detail, .g-singlec-comment-top
    bottom: 20px + 60px

// MoTheme 会修改播放页面的大小，导致歌词页面不能正确居中
.g-bds-fix, .g-single
    bottom: 0 !important

#main-player, .m-pinfo
    transition: transform 1s
    transform: translateY(0%)

// 隐藏 快来说点什么吧 按钮
.g-singlec-comment-detail
    display: none

body.amll-lyric-page-open
    footer
        bottom: 100%
        > * > * > *
            transition: opacity 0.25s ease-in-out
            opacity: 0
    #applemusic-like-lyrics-view.ncm-v3
        top: 0vh
        border-radius: 0 0 0 0
    header
        .HeaderRow_h1n2o69r
            grid-template-columns: unset
            display: flex
            flex-direction: row-reverse
            .HistoryIconBackground_h1s4i8hh
                display: none
            .DomWarpper_dwvx1li
                display: none
            .Bar_b2jgnke
                display: none
            .IconBar_i1ueu1yn
                flex: 0
                .MiniModeIconBar_m1jn0mly, .Divider_d1jt85zx
                    display: none
        .m-leftbox
            justify-content: flex-end
        .m-topbox, .msg, .itm2
            display: none
        .m-hst, .m-zoom, .playfull
            *
                color: var(--applemusic-like-lyrics-font-color, unset)
                fill: var(--applemusic-like-lyrics-font-color, unset)
    .m-winctrl *
        color: var(--applemusic-like-lyrics-font-color, unset)
        fill: var(--applemusic-like-lyrics-font-color, unset)
    .g-single.z-show
        .g-singlec-hd.j-flag *
            color: var(--applemusic-like-lyrics-font-color, unset)
            fill: var(--applemusic-like-lyrics-font-color, unset)
        .g-bd2.f-cb *
            color: var(--applemusic-like-lyrics-font-color, unset)
            fill: var(--applemusic-like-lyrics-font-color, unset)

    // 隐藏播放控制栏
    #main-player, .m-pinfo
        transform: translateY(100%)

    // 隐藏切换播放方式的提示栏
    .u-result.u-result-play
        display: none

    // 美化播放列表
    .m-playlist
        right: 5vw
        width: calc(57.142857vw - 15vw)
        background: transparent
        box-shadow: none
        margin-bottom: 40px
        .listsub
            display: none
        .listbd
            top: 67px
        li.j-item
            height: max(5vh, 50px)
            display: flex
            flex-direction: column
            justify-content: space-evenly
            padding: 5px 20px
            font-size: max(2vh, 20px)
            border-bottom: solid 1px #FFF4
            &:nth-child(2n)
                background: unset
            &::before
                content: none
            > *
                display: none
                padding: unset
                height: unset
                width: unset
            .ico, i
                display: none
            .title, .f-thide
                display: block
                line-height: unset

    // 在显示歌词页面的时候隐藏主页面，减轻渲染压力
    #x-g-mn
        > .g-sd,
        > .g-mn
            display: none !important
