

.am-lyrics-settings
    min-height: 100%;
    max-width: @css { min(100%, 700px) };
    .am-lyric-func-body
        user-select: text;
        overflow-wrap: break-word;
        word-break: normal;
        white-space: break-spaces;
        text-overflow: ellipsis;

#applemusic-like-lyrics-view
    overflow: hidden;
    z-index: 1;
    -webkit-font-smoothing: antialiased;
    *
        z-index: 1;
    margin: 30px;
    height: "calc(100% - %s)" % (@margin * 2);
    max-height: "calc(100% - %s)" % (@margin * 2);
    max-width: "calc(100% - %s)" % (@margin * 2);
    width: "calc(100% - %s)" % (@margin * 2);
    display: flex;
    flex-direction: row
    
    .am-lyric-view-loading
        flex: 1;
    
    .am-music-info
        flex: 1;
        display: flex;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        > *
            display: flex;
            flex-direction: column;
            color: @css { var(--applemusic-like-lyrics-font-color, white) };
            a
                color: @css { var(--applemusic-like-lyrics-font-color, white) };
                &:hover
                    opacity: 0.5;
            .am-album-image
                display: flex;
                align-content: center;
                justify-content: center;
                align-items: center;
                position: relative;
                > *
                    border-radius: 5%;
                    overflow hidden;
                    box-shadow: 0 0 1rem #0004;
                    > img
                        border-radius: 5%;
                        overflow: hidden;
                        min-height: @css { min(50vh, 30vw) };
                        min-width: @css { min(50vh, 30vw) };
                        max-height: @css { min(50vh, 30vw) };
                        max-width: @css { min(50vh, 30vw) };
                        height: @css { min(50vh, 30vw) };
                        width: @css { min(50vh, 30vw) };
                        object-fit: cover;
            
            .am-music-name
                font-size: 1.5rem;
                line-height: normal;
                margin: 1rem 0 0.25rem 0;
                cursor: text;
                user-select: text;
                text-align: center;
                filter: drop-shadow(0 0 4px #0006);
            .am-music-alias
                font-size: 1.2rem;
                line-height: normal;
                margin: 1rem 0;
                opacity: 0.75;
                cursor: text;
                text-align: center;
                user-select: text;
                filter: drop-shadow(0 0 4px #0004);
            .am-music-artists
                font-size: 1rem;
                line-height: normal;
                margin: 0.25rem 0;
                filter: drop-shadow(0 0 4px #0004);
                display: flex;
                align-items: baseline;
                justify-content: center;
                .am-artists-label
                    line-height: normal;
                    white-space: nowrap;
                .am-artists
                    a
                        line-height: normal;
                        opacity: 0.8;
                        user-select: text;
                        text-overflow: ellipsis;
                        // margin-right: 1rem;
                        &::after
                            content: @css { var(--applemusic-like-lyrics-music-artists-separator, " - ") };
                            opacity: 0.5;
                        &:last-child::after
                            content: "";
                        
            .am-music-album
                font-size: 1rem;
                line-height: normal;
                margin: 0.25rem 0;
                filter: drop-shadow(0 0 4px #0004);
                display: flex;
                align-items: baseline;
                justify-content: center;
                .am-album-label
                    white-space: nowrap;
                a
                    opacity: 0.8;
                    user-select: text;

    .am-lyric
        flex: 1;
        display: flex;
        flex-direction: column;
        filter: drop-shadow(0 0 4px #0004);
        // 鼠标悬浮时显示所有歌词
        &:hover .am-lyric-line
            filter: blur(0) !important;
            opacity: 1 !important;
            > .am-lyric-line-dynamic > *
                opacity: 1 !important;
        &:hover .am-lyric-options
            opacity: 1;
    
    .am-lyric-view-error
        flex: 1;
        *
            overflow-wrap: break-word;
            margin-bottom: 1rem;
    
    .am-lyric-options
        opacity: 0;
        transition: opacity  0.75s cubic-bezier(0.65, 0, 0.35, 1);
        padding-top: 60px;
        
        button
            margin: 0.5rem;
            background-color: transparent;
            padding: 3px;
            border: @css { solid 1px var(--applemusic-like-lyrics-font-color, white) };
            color: @css { var(--applemusic-like-lyrics-font-color, white) };
            border-radius: 3px;
            &.toggled
                background-color: @css { var(--applemusic-like-lyrics-font-color, white) };
                color: black
    
    .am-lyric-view
        flex: 1;
        overflow: hidden scroll;
        position: relative;
        -webkit-mask-image: linear-gradient(#0000, #000 10%, #000 80%, #0000 90%, #0000);
        > *
            padding: 50vh 0;
            position: relative;
            padding-left: 2rem;
            padding-right: @css { min(30%, 5vw, 600px) };
        &.editing
            -webkit-mask-image: unset;
            > *
                padding: 0;
                padding-bottom: 128px;
                padding-right: @css { min(30%, 5vw, 600px) };
    
    .am-lyric-view-no-lyric
        height: 100%;
        overflow: hidden;
        flex: 1;
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        > *
            padding: 50vh 0;
            position: relative;
    
    .am-lyric-line-edit
        display: flex;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        
        >.edit-time
            padding: 0 1rem;
        
        >.edit-arrow
            padding: 0 1rem;
        
        >.edit-area
            flex: 1;
            display: flex;
            flex-direction: column;
            input
                flex-basis: 100%;
                border-radius: 2px;
                max-width: 100%;
                line-height: 16px;
                margin: 4px 0;
                padding: 4px 16px;
                border: solid 1px #FFF7;
                background: transparent;
                color: white;

    // 歌词缩放效果
    &.lyric-scale-effect // lyricScaleEffect
        .am-lyric-line
            transform: scale(0.66666);
            
            &.am-lyric-line-o0,
            &.am-lyric-line-selected
                transform: scale(1);
                
        .am-lyric-dots
            transform: scale(0.66666);
            &.am-lyric-dots-selected
                transform: scale(1);

    // 已播放歌词隐藏效果
    &.lyric-hide-passed
        .am-lyric-line
            opacity: 0.5;
            &.am-lyric-line-before
                opacity: 0;
            &.am-lyric-line-selected
                opacity: 1;

    // 歌词模糊效果
    &.lyric-blur-effect
        .am-lyric-line
            filter: blur(4px);
            &.am-lyric-line-after
                filter: blur(4px);
            &.am-lyric-line-o1
                filter: blur(1px);
            &.am-lyric-line-o2
                filter: blur(2px);
            &.am-lyric-line-o3
                filter: blur(3px);
    
    // 未播放歌词淡入效果
    &.lyric-blur-fade-in-effect
        .am-lyric-line
            &.am-lyric-line-after
                opacity: 0.1;
            &.am-lyric-line-o1
                opacity: 0.4;
            &.am-lyric-line-o2
                opacity: 0.3;
            &.am-lyric-line-o3
                opacity: 0.2;
                
    // 自适应歌词字体大小
    &.lyric-auto-font-size
        .am-lyric-line
            font-size: @css { clamp(32px, 3vw, 4vh) };
    
    &.use-ping-fang-font *
        font-family: 'PingFang SC' !important;

    // 歌名居左
    &.align-left-music-name .am-music-name
        text-align: left;

    // 歌曲别名居左
    &.align-left-music-alias .am-music-alias
        text-align: left;

    // 歌手名居左
    &.align-left-music-artists .am-music-artists
        justify-content: left;

    // 专辑名居左
    &.align-left-music-album .am-music-album
        justify-content: left;

    // 隐藏歌手名标签
    &.hide-left-music-artists-label .am-artists-label
        display: none;

    // 隐藏专辑名标签
    &.hide-left-music-album-label .am-album-label
        display: none;
    
    .am-lyric-line
        font-weight: bold;
        font-size: @css { max(8px, var(--applemusic-like-lyrics-lyric-font-size)) };
        margin: @css { max(32px, 2vh) } 0;
        transform-origin: left;
        color: @css { var(--applemusic-like-lyrics-font-color, white) };
        transition: all 0.75s cubic-bezier(0.65, 0, 0.35, 1);
        line-break: loose;
        word-break: break-word;
        
        > .am-lyric-line-translated,
        > .am-lyric-line-roman
            opacity: 0.5;
        
        > .am-lyric-line-dynamic > *
            animation-name: am-lyric-word-animation;
            animation-fill-mode: both;
            animation-play-state: paused;
            
        &:hover::before
            content: " ";
            position: absolute;
            width: calc(100% + 4rem);
            left: -2rem;
            height: calc(100% + 2rem);
            top: -1rem;
            border-radius: 1rem;
            background-color: #FFF4;
        
        &.am-lyric-line-after
            > .am-lyric-line-dynamic > *
                opacity: 0.5;
                animation-name: unset;
                animation-fill-mode: unset;
                animation-play-state: unset;
        
        &.am-lyric-line-before
            opacity: 0.5;
            > .am-lyric-line-dynamic > *
                opacity: 1;
                animation-name: unset;
                animation-fill-mode: unset;
                animation-play-state: unset;
        
        &.am-lyric-line-o0,
        &.am-lyric-line-selected
            filter: blur(0px);
            opacity: 1;
            > .am-lyric-line-dynamic
                > *
                    animation-play-state: running;
        @keyframes am-lyric-word-animation {
            from {
                opacity: 0.5;
            }
            to {
                opacity: 1;
            }
        }

    .am-lyric-dots
        height: 0px;
        transition: all 0.75s cubic-bezier(0.65, 0, 0.35, 1);
        transform-origin: left;
        
        opacity: 0;
        
        > *
            display: inline-block;
            margin-right: 1.5rem;
            width: 2rem;
            height: 2rem;
            background-color: @css { var(--applemusic-like-lyrics-font-color, white) };
            box-shadow: 0 2px 5px #0008;
            border-radius: 1rem;
        
        &.am-lyric-dots-selected
            height: 32px;
            opacity: 1;

/* 自动隐藏播放栏和控制栏 */
.mq-playing .g-hd,
.m-winctrl,
#main-player
.g-singlec-comment-detail.z-show,
.m-pinfo {
    opacity: 1;
    transition: opacity 0.5s;
}

.mq-playing .g-hd.hide,
.m-winctrl.hide,
#main-player.hide,
.g-singlec-comment-detail.z-show.hide,
.m-pinfo.hide {
    opacity: 0 !important;
}

.g-singlec-ct
    top: 0;
.g-single
    bottom: 0;
