$tween-animation-duration: 500ms
$tween-animation-timing: cubic-bezier(0.46, 0, 0.07, 1)

@mixin slide-bar()
    height: 8px
    background: #FFF7
    border-radius: 4px
    overflow: hidden
    cursor: pointer
    &:hover::after
        content: " "
        display: inline-block
        background: white
        position: absolute
        vertical-align: top
        width: 6px
        height: 16px
        margin-top: -4px
        margin-left: -3px
        border-radius: 3px
        box-shadow: 0 0 3px #0008
    > *
        display: inline-block
        vertical-align: top
        background: white
        height: 8px
@mixin text-overflow-ellipsis()
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
@mixin applemusic-like-lyrics-view-style()
    display: flex
    height: calc(100% - 120px)
    width: 90%
    margin: 0 5%
    padding: 60px 0
    z-index: 1

    svg
        width: unset
        height: unset

    .amll-error-boundary
        margin: 60px 0
        *
            white-space: pre-wrap
            user-select: text

    .am-audio-fft
        height: 5vh
        width: 100%
        display: flex
        filter: drop-shadow(0 0 var(--applemusic-like-lyrics-font-shadow-size, 2px) #0004)
    
    .am-lyric-background
        z-index: -1
        position: fixed
        left: 0
        right: 0
        top: 0
        bottom: 0
        width: 100vw
        height: 100vh
        &.am-lyric-bg-album-image::after
            position: absolute
            width: 100%
            height: 100%
            content: " "
            backdrop-filter: blur(20vh) brightness(60%)
            -webkit-backdrop-filter: blur(20vh) brightness(60%)

    .am-lyric-view-loading
        flex: 1

    .am-player-song-info
        flex: 0.75
        height: 100%
        padding-right: 5vw
        z-index: 2
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-around
        color: var(--applemusic-like-lyrics-font-color, unset)
        > *
            width: min(50vh, 40vw)
            align-self: center
        > .am-music-info-spacer
            flex: 0.2
        > .am-music-info-bottom-spacer
            flex: 0.2
            transition: flex 0.5s ease-out
        > .am-album-image
            aspect-ratio: 1 / 1
            height: min(50vh, 40vw)
            width: min(50vh, 40vw)
            flex: 0
            align-self: center
            position: relative
            > *
                width: 100%
                height: 100%
                aspect-ratio: 1 / 1
            img
                border-radius: 3%
                box-shadow: 0 0 1rem #0004
                width: 100%
                height: 100%
                aspect-ratio: 1 / 1
                object-fit: cover
        > .am-music-sub-widget
            flex: 0
            > .am-music-quality
                display: flex
                flex-direction: row
                justify-content: center
                > .am-music-quality-tag
                    border: solid 1px #FFF7
                    padding: 2px 6px
                    border-radius: 4px
                    align-self: center
                    justify-self: center
            > .am-music-info-with-menu
                font-size: 200%
                font-weight: 1000
                flex: 0
                display: flex
                align-self: stretch
                flex-direction: row
                > .am-music-main-menu
                    aspect-ratio: 1 / 1
                    display: inline-block
                    position: relative
                    border: none
                    background: #FFF3
                    width: 40px
                    margin-left: 20px
                    border-radius: 50%
                    align-self: center
                    display: flex
                    align-items: center
                    justify-content: center
                > .am-music-info
                    flex: 1
                    transition: flex 0.5s ease-out
                    filter: drop-shadow(0 0 var(--applemusic-like-lyrics-font-shadow-size, 2px) #0004)
                    mix-blend-mode: soft-light
                    width: calc(100% - 50px)
                    height: fit-content
                    min-width: 0
                    display: flex
                    flex-direction: column
                    .am-music-name, .am-music-album
                        @include text-overflow-ellipsis
                        line-height: normal
                        cursor: text
                        user-select: text
                        min-width: 0
                    .am-music-artists
                        width: 100%
                        line-height: normal
                        display: flex
                        align-items: baseline
                        flex-wrap: nowrap
                        justify-content: flex-start
                        min-width: 0
                        .am-artists
                            @include text-overflow-ellipsis
                            max-width: 100%
                            overflow: hidden
                            white-space: nowrap
                            text-overflow: ellipsis
                            text-align: center
                            a
                                line-height: normal
                                opacity: 0.8
                                user-select: text
                                color: var(--applemusic-like-lyrics-font-color, unset)
                                &::after
                                    content: var(--applemusic-like-lyrics-music-artists-separator, " - ")
                                    opacity: 0.5
                                &:last-child::after
                                    content: ""
            > .am-music-progress-control
                mix-blend-mode: soft-light
                display: flex
                flex-direction: column
                margin-top: 16px
                > .am-music-progress-bar
                    @include slide-bar()
                > .am-music-progress-tips
                    margin-top: 16px
                    font-weight: 1000
                    opacity: 0.5
                    display: flex
                    justify-content: space-between
                    font-size: 12px
        > .am-music-controls
            display: flex
            justify-content: space-between
            mix-blend-mode: soft-light
            > .am-music-track-shuffle,
            > .am-music-track-repeat
                opacity: 0.5
            > .am-music-track-prev,
            > .am-music-play,
            > .am-music-track-next
                > *
                    height: 5vh
                    width: 5vh

            > *
                border: none
                background: transparent
        > .am-music-volume-controls
            display: flex
            align-items: center
            flex-direction: row
            > *
                margin: 8px
            > .am-music-volume-bar
                flex: 1
                @include slide-bar()
    .am-lyric
        flex: 1
        z-index: 2
        display: flex
        flex-direction: column
        // 鼠标悬浮时显示所有歌词
        &:hover .am-lyric-line
            filter: blur(0) !important
            opacity: 1 !important
            visibility: visible !important
            > .am-lyric-line-original
                opacity: 0.75
            > .am-lyric-line-dynamic > *
                opacity: 0.75
            &.am-lyric-line-bg-lyric
                opacity: 0 !important
                &.am-lyric-line-selected
                    opacity: 0.5 !important
            &.am-lyric-line-o0,
            &.am-lyric-line-selected
                opacity: 1
                > .am-lyric-line-dynamic > *
                    opacity: 1

    .am-lyric-view-error
        flex: 100000
        *
            overflow-wrap: break-word
            white-space: pre-wrap
            margin-bottom: 1rem

    .am-lyric-view
        flex: 1
        overflow: hidden
        -webkit-mask-image: linear-gradient(#0000, #000 5%, #000 95%, #0000)
        filter: drop-shadow(0 0 var(--applemusic-like-lyrics-font-shadow-size, 2px) #0004)
        box-sizing: content-box
        &::-webkit-scrollbar
            display: none
        > *
            height: 100%
            width: 100%
            max-width: 100%
            > *
                margin-left: 1vw
                transition: all $tween-animation-duration $tween-animation-timing

    .am-lyric-view-no-lyric
        height: 100%
        overflow: hidden
        flex: 1
        display: flex
        flex-direction: column
        flex-wrap: nowrap
        justify-content: center
        align-items: baseline

    // 已播放歌词隐藏效果
    &.lyric-hide-passed
        .am-lyric-line
            opacity: 0.5
            &.am-lyric-line-before
                opacity: 0
                visibility: hidden
                @for $i from -5 through 5
                    @if $i != 0
                        &.am-lyric-line-o#{$i}
                            visibility: visible
            &.am-lyric-line-selected
                opacity: 1

    // 歌词模糊效果
    &.lyric-blur-effect
        .am-lyric-line
            filter: blur(4px)
            &.am-lyric-line-after, &.am-lyric-line-before
                filter: blur(0.3vh * 6)
                &.am-lyric-line-selected
                    filter: blur(0px)
            @for $i from -5 through 5
                @if $i != 0
                    &.am-lyric-line-o#{$i}
                        filter: blur(abs($i) * 0.3vh)

    // 未播放歌词淡入效果
    &.lyric-blur-fade-in-effect
        .am-lyric-line
            &.am-lyric-line-after
                opacity: 0.1
            &.am-lyric-line-o1
                opacity: 0.4
            &.am-lyric-line-o2
                opacity: 0.3
            &.am-lyric-line-o3
                opacity: 0.2
            > .am-lyric-line-dynamic > *
                opacity: 0.5

    // 自定义歌词字体大小
    &.lyric-fixed-font-size
        .am-lyric-line
            font-size: max(8px, var(--applemusic-like-lyrics-lyric-font-size, 16px))
        .am-lyric-dots
            &.am-lyric-dots-selected
                height: min(30px, calc(max(8px, var(--applemusic-like-lyrics-lyric-font-size, 16px)) * 2.5))
            > *
                margin-right: min(20px, calc(max(8px, var(--applemusic-like-lyrics-lyric-font-size, 16px)) * 0.8333333333))
                width: min(20px, calc(max(8px, var(--applemusic-like-lyrics-lyric-font-size, 16px)) * 1.25))
                height: min(20px, calc(max(8px, var(--applemusic-like-lyrics-lyric-font-size, 16px)) * 1.25))

    &.use-ping-fang-font
        .am-lyric-view *
            font-family: 'SF Pro Display', 'PingFang SC' !important
        .am-player-song-info
            font-family: 'PingFang SC' !important

    .am-lyric-line
        position: absolute
        will-change: transform, filter, opacity
        font-weight: bold
        mix-blend-mode: soft-light
        width: var(--amll-lyric-view-width)
        font-size: 5vh
        padding-bottom: max(2rem, 5vh)
        transform-origin: left
        color: var(--applemusic-like-lyrics-font-color, unset)
        line-break: loose
        word-break: break-word
        box-sizing: border-box
        &.am-lyric-line-bg-lyric
            font-size: 3vh
            padding-bottom: max(1rem, 3vh)
            opacity: 0 !important
            &.am-lyric-line-selected
                opacity: 0.5 !important
        &.am-lyric-line-align-right
            text-align: right
            transform-origin: right
            margin: 0
        > .am-lyric-line-original
            opacity: 0.5
            transition: opacity $tween-animation-duration $tween-animation-timing
        > .am-lyric-line-translated,
        > .am-lyric-line-roman
            opacity: 0.35
            font-size: max(16px, 65%)
            margin-top: 0.5rem

        > .am-lyric-line-dynamic
            position: relative
            display: inline-block
            white-space: break-spaces
            > *
                opacity: calc(7 / 15)
                display: inline-block
                transition: transform $tween-animation-duration $tween-animation-timing
                animation-play-state: paused
                animation-timing-function: linear
                animation-fill-mode: both
                // transition: opacity $tween-animation-duration $tween-animation-timing

        &:hover
            opacity: 1 !important
            > .am-lyric-line-original
                opacity: 1 !important
            > .am-lyric-line-dynamic > *
                opacity: 1 !important

        &.am-lyric-line-after
            opacity: 0.5

        &.am-lyric-line-before
            opacity: 0.5
            > .am-lyric-line-dynamic > *
                opacity: 1
        &.am-lyric-line-o0,
        &.am-lyric-line-selected
            filter: blur(0px)
            opacity: 1
            > .am-lyric-line-original
                opacity: 1
            > .am-lyric-line-dynamic > *
                opacity: 1
                animation-name: am-lyric-word-animation
                animation-play-state: running

        @keyframes am-lyric-float-animation
            from
                transform: translateY(0px)
            to
                transform: translateY(-50px)

        @keyframes am-lyric-word-animation
            $fade-width: 20
            @for $i from -$fade-width through 100
                #{calc(($i + $fade-width) / (100 + $fade-width)) * 100}%
                    $mask-img: linear-gradient(to right, #000 $i * 1%, rgba(0, 0, 0, 0.5) ($i + $fade-width) * 1%)
                    -webkit-mask-image: $mask-img
                    mask-image: $mask-img
                    transform: translateY(calc(-2px * ($i + $fade-width) / (100 + $fade-width)))

    .am-lyric-dots
        position: absolute
        will-change: transform, filter, opacity
        padding: max(1rem, 1vh) 0
        height: 6vh
        transform-origin: top left
        opacity: 0

        > *
            display: inline-block
            margin-right: 2vh
            width: 3vh
            height: 3vh
            background-color: var(--applemusic-like-lyrics-font-color, white)
            box-shadow: 0 2px 5px #0008
            border-radius: 50%

        &.am-lyric-dots-selected
            height: 6vh
            opacity: 1
            animation-name: am-lyric-dot-show-animation
            animation-fill-mode: both
            animation-delay: 0.75s
            animation-duration: 1.5s

        &.am-lyric-line-before
            opacity: 0
            animation-name: am-lyric-dot-hide-animation
            animation-fill-mode: both
            animation-duration: 0.25s

        @keyframes am-lyric-dot-show-animation
            from
                opacity: 0

            to
                opacity: 1

        @keyframes am-lyric-dot-hide-animation
            from
                opacity: 1

            to
                opacity: 0
