.resultCard {
	display: block;
	margin-top: 1em;
	width: 100%;

	.name {
		opacity: 0.5;
		font-size: 0.8em;
	}

	ul {
		list-style: none;
		margin: 0;
		padding-left: 1em;
		font-size: 0.8em;
		opacity: 0.8;
	}
}
