.playlistSongItem {
	display: flex;
	align-items: center;
	gap: var(--space-2);
	box-sizing: border-box;
	padding: var(--space-2) var(--space-4);
	height: calc(var(--space-2) * 2 + 50px);
	width: 100%;
	max-width: 100%;
	overflow: hidden;

	&:hover {
		background-color: #fff1;
	}

	&:active {
		background-color: #ffffff15;
	}

	.musicInfo {
		flex-grow: 1;
		min-width: 0;
		overflow: hidden;
		max-lines: 1;
		white-space: nowrap;
		text-overflow: ellipsis;
		line-height: 1em;

		> * {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		.name {
			margin-bottom: 0.1em;
			max-width: 100%;
		}

		.artists {
			opacity: 0.5;
			max-width: 100%;
		}
	}
}
